%div{:style => "background: #fff; color: #000;"}
  .container.custom-home-hero
    .row.u-padding-top-sm.text-md-center
      .col-md-6.u-padding-top-md
        .row
          .col-md-12.u-margin-bottom-sm
            %h1.custom-h1.u-margin-bottom-xxs
              Welcome to the DevOps Platform era

            %h3.custom-h4.u-margin-bottom-xxs 
              Plan, build, secure, and deploy software with a single application. GitLab CEO Sid Sijbrandij discusses the next iteration of DevOps.
            -# %p.h3.custom-learn-more{style: "color: rgba(125, 43, 217) !important; margin-bottom: 0"}  
            -#   %a{href: "/gitlab-14/", style: "color: rgba(125, 43, 217, 1) !important; text-decoration: underline !important;"} Learn more.
        .row.u-margin-bottom-xs
          .col-md-12.u-margin-bottom-0
            = link_to "Try GitLab for FREE", "/free-trial/", class: "btn cta-btn orange-light", style: "margin-bottom: 8px !important"
            = link_to "Watch a demo", "/demo/", class: "btn cta-btn lavender", style: "margin-bottom: 8px !important"
    
      .col-md-5.col-md-offset-1 
        %iframe{:allow => "autoplay; fullscreen; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "460", :src => "https://player.vimeo.com/video/582282482", :width => "740"}

        -# %picture
        -#   %source{media: "(max-width: 959px)", srcset: "/images/gitlab-14/gitlab-version-releases-14-website-header.svg"}
        -#   %img{src: "/images/gitlab-14/gitlab-version-releases-14-website-header.svg", alt: "Dev Ops platform", loading: "lazy", style: "max-height: 600px;"}

          //marketing/corporate_marketing/corporate-marketing/-/blob/master/design/_progress/vic/homepage-illustration-dec-2020/svg/homepage-illustration-wide.svg

-# CSS For Component
:sass
  .small-font
    font-size: 14px
    font-weight: bold
  .custom-h1
    font-size: 36px
    line-height: 44px
  .custom-h4
    font-size: 24px
    line-height: 30px
  .cta-btn.lavender
  //  width: unset
  .custom-break-m
    display: none

  
  @media all and (min-width: 640px)
    .custom-h1
      font-size: 60px
      line-height: 64px
    .custom-h4
      font-size: 32px
      line-height: 36px

  @media all and (max-width: 640px)
    .custom-learn-more
      font-size: 24px
      line-height: 30px


%script{src: "/javascripts/libs/tweenmax.min.js", type: "text/javascript"}

<script src="/javascripts/home.js" type="text/javascript" data-cookieconsent="ignore"></script>
